%article#feedback-box
  .close-button
  %div
    %h1
      Want to get in touch?
    %p
      = link_to 'File an issue on Github', 'https://github.com/smcgov/SMC-Connect/issues', target: '_blank'

    #feedback-form
      %p#feedback-status.hide
        Submit feedback!
      %p
        %label{ for: 'comment' }
          Submit comments to the development team:
        %textarea{ name: 'comment', id: 'comment', placeholder: 'enter your comment, question, etc.', rows: '4', required: ''}
      %p
        %label{ for: 'email' }
          Email:
        %input{ name: 'email', id: 'email', type: 'email', placeholder: 'your email address (optional)', pattern: '/.+@.+\..+/i' }

      %p
        %button{ type: 'submit', id: 'feedback-form-btn', disabled: 'disabled' }
          Send!

    %noscript
      %style
        -# Hides ajax-enabled feedback form when JavaScript is disabled.
        = '#feedback-form { display: none; }'
      = link_to 'Visit this form', 'http://ohanapi.org/#contribute', target: '_blank'
      to submit comments.